body{
  background-color: #173f5f;
  color: #ffffff;
}
h1{
  font-family: 'Inconsolata', monospace;
  font-size: 35px;
  color: #141414;
}

h2{
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  color: #141414;
}

#endcard{
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  margin: 15px -15px 20px -15px;
  padding: 10px 5px 5px 15px;
  text-align: center;
  background-color: tomato;
}

.penjelasan-card{
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  padding: 0px 150px 0px 150px;
}

#activity-card{
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  padding: 0px 150px 0px 150px;
}

#hai-card{
  text-align: center;
  background-color: tomato;
  margin: -15px -15px 10px -15px;
  padding: 50px 5px 5px 15px;
}

#skill-card{
  text-align: justify;
}

.accordion {
  background-color: #3caea3;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  margin-left: 20px;

}

#accordionid{
  text-align: center;
  align-content: center;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 18px;
  background-color: tomato;
  color: white;
  width: 50%;
  display: none;
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
