{% extends 'landasan.html' %}
{% block content %}
<title>Profil Rendya Yuschak</title>
</head>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>
<div id="myDiv" class="animate-bottom">
<div id="hai-card">
<img id="wajah" src="/static/DSC02109.jpg" width="300px" alt="wajahku">
<h1><b>Hai, aku Rendya!</b><h1>
<h2><i>Computer Scientist</i> yang suka minum teh manis</h2>
</div>

<div class="penjelasan-card" id="penjelasan-singkat-pendidikan-card">
  <p>Kenalin nih, namaku Rendya Yuschak, (calon) <i>Computer Scientist</i>
  yang sedang menempuh pendidikan Ilmu Komputer di Universitas Indonesia untuk
 menjadi programmer yang handal</p>
</div>

<div class="penjelasan-card" id="penjelasan-singkat-hobi-card">
  <p>Hobiku adalah minum teh manis yang hangat dan telah mencicipi berbagai
  macam jenis teh. Bagiku <i>The Republic of Tea</i> merupakan
 teh yang paling enak, tapi teh manis Sariwangi sudah cukup buatku.</p>

 <p>Hobiku yang lain adalah matematika, terutama dibidang aljabar linier,
   analisis kompleks dan geometri fraktal. Padahal dulu aku benci banget
   matematika, entah kenapa sekarang jadi suka</p>
</div>

<div class="penjelasan-card" id="skill-card">
  <p><br><br>Kemampuan</p>
  <ul>
    <li>Casual Programming : Cukup handal menggunakan Pyton dan Java untuk membuat program dan aplikasi smartphone</li>
    <li>Full Stack Developer : Ahli dalam membuat sebuah website baik <i>front-end</i> maupun <i>back-end</i></li>
    <li>Fotografi dan sinematografi: Berawal dari hobi, sekarang sudah menjadi penggemar kamera dan mengedit foto dan video</li>
    <li>Matematika : mampu menggunakan berbagai macam konsep matematika dalam kehidupan nyata</li>
  </ul>
</div>

<div id = "accordionid">
  <button class="accordion">Kegiatan</button>
    <div class="panel">
  <p>Kadang bikin program, kadang main bola di laptop, kadang minum teh</p>
</div>

<button class="accordion">Organisasi</button>
<div class="panel">
  <p>
    <ul><li>Compfest</li>
  <li>Fasilkom</li>
<li>Sinematografi</li></ul>
</p>
</div>

<button class="accordion">Prestasi</button>
<div class="panel">
  <p>Tidak Ada</p>
</div>
</div>
</div>

<script type="text/javascript">
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
        panel.style.margin = "0 auto";
        panel.style.width = "50%";

      }
    });
  }
</script>
<script type="text/javascript">
  var myVar;

  function myFunction() {
    myVar = setTimeout(showPage, 3000);
  }

  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
  }
</script>
{% endblock %}
